:root {
    --light: #dae3e5;
    --dark: #12355b;
    --filler: rgba(150, 122, 161, .8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Header Styles */

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--dark);
}

header h1 {
    padding-left: 60px;
    padding-right: 10px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header a {
    color: var(--light);
    padding: 5px;
    
}

.header-background {
    font-size: 25px;
    font-weight: bold;
    background-color: var(--light); 
    color: var(--dark);
    border-radius: 25px;
}

/* Header Styles End */

/* Hero Styles */

.hero h2 {
    background-image: url(../images/hero-image.jpeg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20vw;
}

.header-background > h2 {
    padding: 20px 40px;
    color: var(--light);
}

/* Hero Styles End */


/* About Me Styles */

.personal {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.personal-container {
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
}

.section-title {
    font-size: 32px;
    color: var(--dark);
    border-right: 2px solid;
    padding-right: 10px;
}

.section-title h2 {
    margin: 0 10px;
    text-align: right;
}

.personal p {
    padding: 20px;
    grid-column: 2 / span 4;
}

/* Work Styles */

.projects {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--light);
}
.project-grids {
    display: grid;
    width: 100%;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 150px);
    column-gap: 2px;
    row-gap: 2px;
}

.project-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.project-grids img {
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .5s;
    border: 5px var(--filler) solid;
    border-radius: 4px;
}

.project-grids img:hover {
    opacity: 1;
}

.project-info {
    position: absolute;
    width: 100%;
    padding: 20px;
    color: var(--dark);
    text-align: left;
    margin-bottom: 20px;
}

/* Work Styles End */

/* Contact Styles */

.contact-container {
    display: grid;
    padding: 1rem; 
    width: 80%;
    grid-template-columns: 1fr repeat(4, 2fr);
}

.grid-item {
    text-align: center;
}

 /* footer styles */
 
 footer {
     display: flex;
     justify-content: center;
 }

