* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #918080;
    color: #282e78;
}

:root {
    --header-background: #e1e2f1;
}

/* Header Styles */

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    background-color: var(--header-background); 
    width: 15vw;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--header-background);
}

.header-background {-
    background-color: var(--header-background);
}

/* Header Styles End */

/* Hero Styles */

.hero h2 {
    background-image: url(../images/background.jpeg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20vw;
}

.header-background > h2 {
    padding: 20px 40px;
    background-color: var(--background-color);
}

/* Hero Styles End */

/* Body Elements */

.section-title {
    font-size: 32px;
    border-right: 3px solid;
    display: flex;
}

.section-title h2 {
    word-wrap: break-word;
    margin-left: 5vw;
    text-align: right;
}


/* About Me Styles */

.personal {-
    display: flex;
    justify-content: space-between;
}

/* Work Styles */

.project-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.project-name {
    background-color: var(--header-background);
}

.project-name.project-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.project-1 {
    background-image: url(../images/run-buddy.jpeg);
}

.project-2 {
    background-image: url(../images/image-a.jpeg);
}

.project-3 {
    background-image: url(../images/image-b.jpeg);
}

.project-4 {
    background-image: url(../images/image-c.jpeg)
}

.project-5 {
    background-image: url(../images/image-d.jpeg);
}

/* Work Styles End */

/* Contact Styles */

.contacts {
    display: flex;
}

 .contact-info {
     padding: 20px;
 }

 .contact-info ul {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     column-gap: 40px;
 }


